@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");

body {
  margin: 0;
  padding: 0;
  background-color: #324349;
  color: #3c484e;
  font-family: "Public Sans", sans-serif;
}

.header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}

.header-logo {
  margin-bottom: 20px;
}

.header-logo img {
  width: 30%;
  min-width: 160px;
}

.main {
  grid-template-columns: minmax(auto, 950px);
  display: grid;
  justify-content: center;
  padding: 30px;
}

.characters {
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 2.5rem;
  grid-row-gap: 1rem;
  display: grid;
  padding-bottom: 50px;
  border-bottom: solid 2px #00e1ff1a;
}

.characters-inner {
  grid-template-columns: 1fr 2fr;
  grid-gap: 30px;
  display: grid;
}

.characters-card {
  background-color: rgb(11, 114, 132);
  text-decoration: none;
  box-shadow: 8px 14px 38px rgba(39, 44, 49, 0.08),
    1px 3px 8px rgba(39, 44, 49, 0.03);
  border-radius: 25px;
  margin: 0 0 20px 0;
  display: block;
  animation-duration: 2s;
  animation-name: fade;
}

.characters-card.info {
  padding: 20px 0;
}

.characters-card img {
  width: 100%;
  height: auto;
  border-radius: 25px 25px 0 0;
}

.characters-card h2 {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  line-height: 100%;
  margin: 28px 0;
  color: rgb(189, 247, 73);
}

.characters-card h3 {
  font-size: 18px;
  font-weight: 300;
  text-align: left;
  margin: 20px;
  padding-left: 15px;
  color: whitesmoke;
}

.character-item {
  background-color: rgb(11, 114, 132);
  text-decoration: none;
  box-shadow: 8px 14px 38px rgba(1, 23, 27, 0.201),
    1px 3px 8px rgba(39, 44, 49, 0.03);
  border-radius: 20px;
  margin: 0 0 20px 0;
  display: block;
  animation-duration: 2s;
  animation-name: fade;
  transition: 450ms all;
}

.character-item:hover ~ .character-item {
  transform: translate3d(0px, 2px, 0px);
}

.characters:hover .character-item {
  opacity: 0.5;
}

.characters:hover .character-item:hover {
  transform: scale(1.05);
  opacity: 1;
}

.character-item img {
  width: 100%;
  height: auto;
  border-radius: 20px 20px 0 0;
}

.character-item h2 {
  font-size: 20px;
  margin: 0;
  padding: 10px 0 3px 15px;
}

.character-item h3 {
  font-size: 18px;
  font-weight: 300;
  margin: 0;
  padding: 0 0 17px 15px;
}

.character-item a {
  text-decoration: none;
  color: hsl(0, 0%, 100%);
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

footer {
  padding: 15px;
}

footer,
footer a {
  display: flex;
  align-items: center;
  justify-content: center;
}

footer p {
  display: inline;
  margin: 0 5px;
  color: rgb(148, 148, 148);
  font-size: 16px;
  font-weight: 400;
  font-family: "lato", sans-serif;
}

footer .span-icons {
  margin: 0 5px;
  height: 20px;
  width: 20px;
  color: rgb(148, 148, 148);
}

/* Mobile Devices (portrait) */
@media only screen and (max-width: 479px) {
  .characters {
    grid-template-columns: repeat(2, 1fr);
  }

  .characters-inner {
    display: flex;
    flex-direction: column;
    grid-gap: 20px;
  }
}
